// Variables
@use 'variables' as vars;

$topbar-height: 60px;
$sidebar-width: 160px;
$footer-height: 40px;

.container{
  display: flex;
  flex-direction: column;
  height: 100vh;

  .content {
  display: flex;
  flex: 1;

    main{
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    text-align: center;

      button{
        margin-left: auto;
        background-color: vars.$primary-color;
        color: white;
        border-radius: 6px;
        padding: 6px;
        margin: 6px;
        font-size: 12px;
      }
    }
  }
}
