@use 'variables' as vars;
$border-color: black;
$text-color: black;
$radius: 10px;

:host {

  h2 {
    margin-bottom: 1rem;
    color: vars.$primary-color;
  }

  button {
    background: vars.$primary-color;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin:2px;
    border-radius: $radius;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.2s ease;

    &:hover {
      background: vars.$hover-color;
    }

    &:disabled {
      background: #9ca3af;
      opacity: 0.6;
      cursor: not-allowed;
    }
  }


  .invoice-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .table-wrapper {
    border-radius: $radius;
    display: flex;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }

  table {
    justify-content: center;
    align-items: center;
    width: 60%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);

    thead {
      background: vars.$primary-color;
      color: white;


      th {
        padding: 0.75rem 1rem;
        text-align: center;
        font-weight: 500;
        border-bottom: 1px solid $border-color;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $border-color;

        &:hover {
          background: vars.$secondary-color;
        }

        td {
          padding: 0.75rem 1rem;
          word-wrap: break-word;
        }
      }
    }
  }


  .modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    .modal {
      background: white;
      padding: 1.5rem;
      border-radius: $radius;
      width: 90%;
      max-width: 400px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

      h3 {
        margin-top: 0;
        margin-bottom: 1rem;
        color: vars.$primary-color;
      }

      label {
        display: block;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid vars.$primary-color;
        border-radius: $radius;
        margin-bottom: 1rem;
      }

      .actions {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin-top: 1rem;

    .page-info {
      font-size: 0.9rem;
      color:white;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    padding: 1.5rem;
    max-width: 95%;
  }
}
