@use 'variables' as vars;
$radius: 6px;

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .modal {
    background: #fff;
    padding: 2rem;
    border-radius: $radius;
    width: 90%;
    max-width: 700px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      h3 {
        color: vars.$primary-color;
        margin: 0;
      }

      .close-btn {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #555;
      }
    }

    .invoice-info {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-bottom: 1rem;

      p {
        margin: 0;
        font-weight: 500;
      }
    }

    .loading {
      text-align: center;
      color: #666;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 0.75rem;

      th, td {
        padding: 0.5rem;
        border-bottom: 1px solid #eee;
      }

      th {
        background: vars.$primary-color;
        color: #fff;
        text-align: center;
      }

      tr:hover {
        background: #f3f4f6;
      }
    }

    .actions {
      text-align: right;
      margin-top: 1rem;

      button {
        background: vars.$primary-color;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        margin:2px;
        border-radius: $radius;
        cursor: pointer;
        font-size: 0.9rem;
        transition: background 0.2s ease;

        &:hover {
          background: vars.$hover-color;
        }

        &:disabled {
          background: #9ca3af;
          color: #f3f4f6;
          opacity: 0.6;
          cursor: not-allowed;
        }
      }
    }
  }
}

.error-container{
  height: 20px;
  margin-top: 0.5rem;

  .error-box {
    padding: 0.5rem;
    background: #fee2e2;
    color: #b91c1c;
    border-radius: 5px;
    font-size: 0.875rem;
  }
}

// Responsivo
@media (max-width: 768px) {
  .modal {
    padding: 1.5rem;
    max-width: 95%;
  }

  .invoice-info {
    flex-direction: column;
    gap: 0.5rem;
  }
}
