 @use 'variables' as vars;

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: none;
  }
}

img, video {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  background-color: vars.$background-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
