<div class="modal-backdrop" *ngIf="visible">
  <div class="modal">

    <div class="header">
      <h3>Nova entrada Produto</h3>
      <button class="close-btn" (click)="onCloseModal()">×</button>
    </div>

    <div class="form">
      <label>
        Código do Produto:
        <input
          [(ngModel)]="newItem.productCode"
          (ngModelChange)="onProductCodeChange()"
          placeholder="Código"
          [class.invalid]="!newItem.productCode && errorMessage"
          required
        />
      </label>

      <label>
        Descrição:
        <input
          [(ngModel)]="newItem.description"
          placeholder="Descrição"
          readonly
        />
      </label>

      <div class="item-values">
        <!-- Seleção do tipo de operação -->
        <label>
          Operação
          <select [(ngModel)]="newItem.operationType">
            <option value="Add">Entrada</option>
            <option value="Remove">Saída</option>
          </select>
        </label>

        <!-- Saldo disponível (readonly) -->
        <label>
          Estoque:
          <input
            type="number"
            [(ngModel)]="newItem.quantityAvailable"
            readonly
          />
        </label>

        <!-- Quantidade que será movimentada -->
        <label>
           Movimentar:
          <input
            type="number"
            [(ngModel)]="newItem.quantityRequested"
            min="1"
            [class.invalid]="newItem.quantityRequested <= 0 && errorMessage"
            required
            placeholder="Digite a quantidade"
          />
        </label>
    </div>

      <!-- Mensagem de erro -->
    <div class="error-container">
      <div *ngIf="errorMessage" class="error-box">
        {{ errorMessage }}
      </div>
    </div>

    <div class="actions">
      <button (click)="onCloseModal()">Cancelar</button>
      <button (click)="onRegisterStockMovement()" [disabled]="loading">
        Realizar movimentação
      </button>

    </div>

  </div>
</div>
