@use 'variables' as vars;
$radius: 6px;

  .modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;

    .modal {
      display: flex;
      flex-direction: column;
      background: #fff;
      padding: 2rem;
      border-radius: $radius;
      width: 60%;
      max-width: 700px;
      max-height: 90vh;
      overflow-y: auto;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

    .header {
      display: flex;
      color: white;
      background-color: vars.$primary-color;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      margin-bottom: 0.5rem;

        h3 {
          margin: 0 auto;
          text-align: center;
          flex: 1;
        }

        .close-btn {
          background: none;
          border: none;
          font-size: 1.5rem;
          cursor: pointer;
          color: white;
          margin-left: auto;
        }
     }

    .form {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin: 0.5rem;

      label {
        font-weight: 500;
        display: flex;
        flex-direction: column;
        gap: 4px;

      input {
        width: 150px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        padding: 0.4rem;
        outline: none;

        &:hover,
        &:focus {
          border-color: #3b82f6;
          box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
        }

        &::placeholder {
          color: #9ca3af;
        }

        &[readonly] {
          cursor: not-allowed;
          background: #f3f4f6;
        }

        &[type="number"] {
          width: 80px;
        }
      }
    }
  }

  .actions{
    margin-top: 0.5rem;
    display: flex;
    justify-content: end;
    button {
        background: vars.$primary-color;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        margin:2px;
        border-radius: $radius;
        cursor: pointer;
        font-size: 0.9rem;
        transition: background 0.2s ease;

        &:hover {
          background: vars.$hover-color;
        }

        &:disabled {
          background: #9ca3af;
          color: #f3f4f6;
          opacity: 0.6;
          cursor: not-allowed;
        }
      }
    }
  }

  .loading {
    text-align: center;
    color: #666;
  }

  .error-container{
  height: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  .error-box {
    padding: 0.5rem;
    background: #fee2e2;
    color: #b91c1c;
    border-radius: 5px;
    font-size: 0.875rem;
  }
}

}

@media (max-width: 768px) {
  .modal {
    width: 90%;
    padding: 1.5rem;
    max-height: 95vh;
  }

  .invoice-info {
    flex-direction: column;
    gap: 0.5rem;
  }
}
