@use 'variables' as vars;

.offline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.offline-icon {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #dc2626; /* vermelho alerta */
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.1rem;
  margin: 0.2rem 0;
}

.btn-home {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: vars.$primary-color;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-home:hover {
  background-color: #19773a;
}
